<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title>
		{% block title %}{% endblock title %}
		</title>
		<meta charset="utf-8" />
		<link rel="icon" href="{% static "fav/fav.ico" %}">
		<link rel="icon" type="image/png" sizes="120x120" href="{% static "fav/icons8-sun-arcade-120.png" %}">
		<link rel="icon" type="image/png" sizes="96x96" href="{% static "fav/icons8-sun-arcade-96.png" %}">
		<link rel="icon" type="image/png" sizes="32x32" href="{% static "fav/icons8-sun-arcade-32.png" %}">
		<link rel="icon" type="image/png" sizes="16x16" href="{% static "fav/icons8-sun-arcade-16.png" %}">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static "main/assets/css/main.css" %}">
		<link rel="stylesheet" href="{% static "slick/slick.css" %}">
  		<link rel="stylesheet" href="{% static "slick/slick-theme.css" %}">
		<noscript><link rel="stylesheet" href="{% static 'main/assets/css/noscript.css' %}" /></noscript>

		<!-- Yandex.Metrika counter -->
		<script type="text/javascript" >
		(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
		m[i].l=1*new Date();
		for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
		k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
		(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

		ym(93386932, "init", {
		clickmap:true,
		trackLinks:true,
		accurateTrackBounce:true
		});
		</script>
		<noscript><div><img src="https://mc.yandex.ru/watch/93386932" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
		<!-- /Yandex.Metrika counter -->
	</head>
	<body class="is-preload">
		<div id="page-wrapper">
		{% include 'includes/header.html' %}
			<section class="wrapper style5">
				<div class="inner">
					{% block content %} Контент не подвезли :( {% endblock %}
				</div>
			</section>


		{% include 'includes/footer.html' %}
	<!-- Scripts -->
			<script src={% static "main/assets/js/jquery.min.js" %}></script>
			<script src={% static "main/assets/js/jquery.scrollex.min.js" %}></script>
			<script src={% static "main/assets/js/jquery.scrolly.min.js" %}></script>
			<script src={% static "main/assets/js/browser.min.js" %}></script>
			<script src={% static "main/assets/js/breakpoints.min.js" %}></script>
			<script src={% static "main/assets/js/util.js" %}></script>
			<script src={% static "main/assets/js/main.js" %}></script>
			<script src={% static "slick/slick.min.js" %}></script>
			<script src={% static "main/assets/js/slider.js" %}></script>
		</div>
	</body>
</html>