{% extends 'base.html' %}

{% block title %}
  {% if is_edit %}
    Редактировать комментарий
  {% else %}
    Создать комментарий
  {% endif %}
{% endblock title %}

{% block content %}
<h2>
  {% if is_edit %}
    Редактировать комментарий
  {% else %}
    Создать комментарий
  {% endif %}
</h2>
<p>
  {% if is_edit %}
    Страница редактирования комментария
  {% else %}
    Страница создания комментария
  {% endif %}
</p>

<div class="card-body">
{% include 'includes/form_errors.html' %}
<form method="post" enctype="multipart/form-data" {% if action_url %} action="{% url action_url %}" {% endif %}>
{% csrf_token %}
{% load user_filters %} {# Загружаем фильтры #}
    {% for field in form %}
      <div class="col-6 col-12-narrower">
        <label for="{{ field.id_for_label }}">
          {{ field.label }}
            {% if field.field.required %}
              <span class="required text-danger">*</span>
            {% endif %}
        </label>
        {# К полю ввода добавляем атрибут class #}
        {{ field|addclass:'form-control' }}
          {% if field.help_text %}
            <small
               id="{{ field.id_for_label }}-help"
               class="form-text text-muted"
            >
              {{ field.help_text|safe }}
            </small>
          {% endif %}
      </div>
    {% endfor %}
  <br>
  <div class="d-flex justify-content-end">
    <ul class="actions small">
    <button type="submit" class="button special">
      {% if is_edit %}
        Сохранить
      {% else %}
        Добавить
      {% endif %}
    </button>
    </ul>
  </div>
</form>
</div>
{% endblock %}