{% extends 'base.html' %}
{% load user_filters %}
{% load thumbnail %}
{% block title %}
  Пользователь {{ profile.FIO|truncatechars:100 }}
{% endblock %}
{% block content %}
<section id="main" class="container">
<section class="box">
<article>
  <h2>{{ profile.fio }}</h2>
  <div align="center">
    {% thumbnail profile.image "960x600" quality=100 as im %}
      <span class="image fit"><img src="{{ im.url }}"  alt="" /></span>
    {% endthumbnail %}
  </div>
  <ul>
    <li>Возраст: {{ profile.age }}</li>
    <li>Национальность: {{ profile.nationality }}</li>
    <li>Семейный статус: {{ profile.family_status }}</li>
    <li>Дети: {{ profile.children }}</li>
    <li>Дейтельность: {{ profile.activity }}</li>
  </ul>
</article>

     {% if user.is_authenticated %}
          <div class="col-12">
            <h5 class="card-header">Добавить комментарий:</h5>
              <div class="card-body">
                <form method="post" action="{% url 'meeting:add_comment' profile.id %}">
                  {% csrf_token %}
                  <div class="form-group mb-2">
                    {{ form.text|addclass:"form-control" }}
                  </div>
                  <br>
                  <button type="submit" class="button special">Отправить</button>
                </form>
              </div>
          </div>
        {% endif %}

        {% for comment in comments %}

              <h4>
                  {{ comment.author.username }}
              </h4>
              <blockquote>
                {{ comment.text }}
              </blockquote>
        {% endfor %}



</section>
</section>
{% endblock %}