{% extends 'base.html' %}
{% block title %}
  {{ title }}
{% endblock %}
{% block content %}
<p>Наши контакты:</p>
	<ul>
		<li>Тел. +79876543210</li>
		<li>e-mail: Sochibash@yandex.ru</li>
	</ul>
<section id="main" class="container">
	<header>
		<h2>Где нас найти?</h2>
		<p>Мы находимся по адресу: г. Сочи, ул. Ленина 113</p>
	</header>
	<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Af177595c48ec8c97e03a009223847e1cb56d634e9d9dbc40a0f45d1dc268c3d3&amp;width=100%25&amp;height=720&amp;lang=ru_RU&amp;scroll=true"></script>
</section>
{% endblock %}