{% extends 'base.html' %}
{% block title %}
  {{ title }}
{% endblock %}
{% block content %}
<h2>Где нас найти?</h2>
<p>Мы находимся по адресу: индекс 354383, Краснодарский край, г. Сочи, ул. Каспийская, д.53.</p>
<ul>
	<li><a href="tel:79638901311" class="fa fa-phone">Тел. +7(995)189-84-57</a></li>
	<li><a href="https://wa.me/79638901311" class="icon brands fa-whatsapp">WhatsApp 79638901311</a></li>
	<li><a href="mailto:taipova86@bk.ru" class="icon solid fa-envelope">taipova86@bk.ru</a></li>
	<li><a href="https://vk.com/bashkir.sochi" class="icon brands fa-vk">Сообщество Вконтакте</a></li>
</ul>
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A047434b78e57f41f98797e6d89e4ec13becc43660706b7443d4aad3e69d2d60a&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
	{% endblock %}