<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title>ОБЩЕСТВЕННАЯ ОРГАНИЗАЦИЯ МЕСТНАЯ НАЦИОНАЛЬНО-КУЛЬТУРНАЯ АВТОНОМИЯ БАШКИР ГОРОДА-КУРОРТА СОЧИ</title>
		<meta charset="utf-8" />
		<link rel="icon" href="{% static "fav/fav.ico" %}">
		<link rel="icon" type="image/png" sizes="120x120" href="{% static "fav/icons8-sun-arcade-120.png" %}">
		<link rel="icon" type="image/png" sizes="96x96" href="{% static "fav/icons8-sun-arcade-96.png" %}">
		<link rel="icon" type="image/png" sizes="32x32" href="{% static "fav/icons8-sun-arcade-32.png" %}">
		<link rel="icon" type="image/png" sizes="16x16" href="{% static "fav/icons8-sun-arcade-16.png" %}">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'main/assets/css/main.css' %}">
	</head>
	<body class="landing is-preload">
		<div id="page-wrapper">
			<!-- Header -->
			<header id="header" class="alt">
				<h1>
					<a href="{% url 'main:main' %}">ОБЩЕСТВЕННАЯ ОРГАНИЗАЦИЯ МЕСТНАЯ НАЦИОНАЛЬНО-КУЛЬТУРНАЯ АВТОНОМИЯ БАШКИР ГОРОДА-КУРОРТА СОЧИ</a>
				</h1>
					<nav id="nav">
						<ul>
							{% if user.is_authenticated  %}
							<li class="nav-item navbar-text">
							Пользователь: {{ user.first_name }} {{ user.last_name }}
								<ul>
									<li class="nav-item">
									<a class="nav-link {% if view_name  == 'users:logout' %}active{% endif %}"
									href="{% url 'users:logout' %}">Выйти</a>
									</li>
									<li class="nav-item">
									<a class="nav-link {% if view_name  == 'users:password_change_form' %} active {% endif %}"
									href="{% url 'users:password_change_form' %}">Изменить пароль</a>
									</li>
								</ul>
							</li>

							{% else %}

							<li class="nav-item">
								<a class="nav-link {% if view_name  == 'users:login' %}active{% endif %}"
								href="{% url 'users:login' %}">Войти</a>
							</li>
							<li class="nav-item">
								<a class="nav-link {% if view_name  == 'users:signup' %}active{% endif %}"
								href="{% url 'users:signup' %}">Регистрация</a>
							</li>
							{% endif %}
							<li>
								<a href="#" class="icon solid fa-angle-down">Меню</a>
							<ul>
								<li>
									<a href="{% url 'main:main' %}">Главная</a>
								</li>
								<li>
									<a href="{% url 'news:index' %}">Новости</a>
								</li>
								<li>
									<a href="{% url 'etnoshop:etnoshop' %}">Этно-Ярмарка</a>
								</li>
								<li>
									<a href="{% url 'meeting:index' %}">Знакомства</a>
										<ul>
											<li>{% if has_profile %}
												<a href="{% url 'meeting:profile_edit' profile_id  %}">Редактировать профиль</a>
												{% else %}
												<a href="{% url 'meeting:profile_create' %}">Создать профиль</a>
												{% endif %}
											</li>
											{% if has_profile %}
											<li>
												<a href="{% url 'meeting:profile_detail' profile_id %}">
												Профиль
												</a>
											{% endif %}
										</ul>
								</li>
								<li>
									<a href="{% url 'schedule:schedule_list' %}">Расписание</a>
							   </li>
								<li>
									<a href="{% url 'main:contact' %}">Контакты</a>
								</li>
								<li>
									<a href="{% url 'main:administration' %}">Администрация</a>
								</li>
							</ul>
						</ul>
					</nav>

			</header>
			<!-- Banner -->
			<section id="banner" style="background-image: url(static/main/assets/css/images/overlay.png), url({{ banner.image}})">
				<h2>Общественная организация местная национально-культурная автономия башкир города-курорта Сочи</h2>
			</section>
			<!-- Main -->
			<section id="main" class="container">
				<section class="box special">
					<header class="major">
						<h2>Добро пожаловать!</h2>
						<h2> Рәхим итегеҙ!</h2>
						<p>Всё о башкирах в городе Сочи!</p>
					</header>
					<ul class="actions special">
						{% if not user.is_authenticated  %}
						<li><a href="{% url 'users:signup' %}" class="button primary">Зарегистрироваться</a></li>
						{% endif %}
					</ul>
					<span class="image featured">
						<img src={% static "main/images/pic01.jpg" %} alt="" />
					</span>
				</section>

				<section class="box special features">
					<div class="features-row">
						<section>
							<a href="{% url 'news:index' %}">
								<span class="image fit">
                					<img src="{% static 'main/images/footer.png' %}" alt="Башкирская автономия">
								</span>
								<h3>Последние новости</h3>
							</a>
						</section>
						<section>
							<a href="{% url 'news:index' %}">
								<span class="image fit">
                					<img src="{% static 'main/images/footer.png' %}" alt="Башкирская автономия">
								</span>
								<h3>План мероприятий</h3>
							</a>
						</section>
					</div>
					<div class="features-row">
						<section>
							<a href="{% url 'schedule:schedule_list' %}">
								<span class="image fit">
                					<img src="{% static 'main/images/footer.png' %}" alt="Башкирская автономия">
								</span>
								<h3>Расписание кружков, занятий, спортивных секций</h3>
							</a>
						</section>
						<section>
							<a href="{% url 'etnoshop:etnoshop' %}">
								<span class="image fit">
                					<img src="{% static 'main/images/footer.png' %}" alt="Башкирская автономия">
								</span>
								<h3>Этно - Ярмарка</h3>
							</a>
						</section>
					</div>
					<div class="features-row">
						<section>
							<a href="{% url 'meeting:index' %}">
								<span class="image fit">
                					<img src="{% static 'main/images/footer.png' %}" alt="Башкирская автономия">
								</span>
								<h3>Знакомства</h3>
							</a>
						</section>
						<section>
							<a href="{% url 'main:administration' %}">
								<span class="image fit">
                					<img src="{% static 'main/images/footer.png' %}" alt="Башкирская автономия">
								</span>
								<h3>Администрация</h3>
							</a>
						</section>
					</div>
				</section>
				<!--
				<div class="row">
					<div class="col-6 col-12-narrower">
						<section class="box special">
							<span class="image featured"><img src={% static "main/images/pic02.jpg" %} alt="" /></span>
							<h3>Открываем новое в привычном</h3>
							<p></p>
						</section>

					</div>
					<div class="col-6 col-12-narrower">

						<section class="box special">
							<span class="image featured"><img src={% static "main/images/pic03.jpg" %} alt="" /></span>
							<h3>Объединяемся для общения</h3>
							<p></p>
						</section>
					</div>
				</div>
			-->
			</section>
			<!-- Footer -->
		{% include 'includes/footer.html' %}
		</div>
		<!-- Scripts -->
			<script src={% static "main/assets/js/jquery.min.js" %}></script>
			<script src={% static "main/assets/js/jquery.dropotron.min.js" %}></script>
			<script src={% static "main/assets/js/jquery.scrollex.min.js" %}></script>
			<script src={% static "main/assets/js/browser.min.js" %}></script>
			<script src={% static "main/assets/js/breakpoints.min.js" %}></script>
			<script src={% static "main/assets/js/util.js" %}></script>
			<script src={% static "main/assets/js/main.js" %}></script>
	</body>
</html>