<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title>Башкирская автономия</title>
		<meta charset="utf-8" />
		<link rel="icon" href="{% static "fav/fav.ico" %}">
		<link rel="icon" type="image/png" sizes="120x120" href="{% static "fav/icons8-sun-arcade-120.png" %}">
		<link rel="icon" type="image/png" sizes="96x96" href="{% static "fav/icons8-sun-arcade-96.png" %}">
		<link rel="icon" type="image/png" sizes="32x32" href="{% static "fav/icons8-sun-arcade-32.png" %}">
		<link rel="icon" type="image/png" sizes="16x16" href="{% static "fav/icons8-sun-arcade-16.png" %}">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'main/assets/css/main.css' %}">
	</head>
	<body class="landing is-preload">
		<div id="page-wrapper">
			<!-- Header -->
				<header id="header" class="alt">
					<h1><a href="{% url 'main:main' %}">Башкирская автономия</a></h1>
					    <nav id="nav">
        <ul>
            {% if user.is_authenticated  %}
            <li class="nav-item navbar-text">
            Пользователь:
            <a href="{%url 'news:profile' user.username %}"> {{ user.username }}</a>
                <ul>
                    <li class="nav-item">
                    <a class="nav-link {% if view_name  == 'users:logout' %}active{% endif %}"
                    href="{% url 'users:logout' %}">Выйти</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link {% if view_name  == 'users:password_change_form' %} active {% endif %}"
                    href="{% url 'users:password_change_form' %}">Изменить пароль</a>
                    </li>
                    {% if user.is_staff %}
                    <li class="nav-item">
                    <a class="nav-link"
                    href="{% url 'news:news_create' %}">Новая новость</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link"
                    href="{% url 'class:class_create' %}">Новая занятие</a>
                    </li>
                    {% endif %}
                </ul>
            </li>

            {% else %}

            <li class="nav-item">
                <a class="nav-link {% if view_name  == 'users:login' %}active{% endif %}"
                href="{% url 'users:login' %}">Войти</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if view_name  == 'users:signup' %}active{% endif %}"
                href="{% url 'users:signup' %}">Регистрация</a>
            </li>
            {% endif %}
            <li>
                <a href="#" class="icon solid fa-angle-down">Меню</a>
            <ul>
                <li><a href="{% url 'main:main' %}">Главная</a></li>
                <li>
                    <a href="{% url 'news:index' %}">Новости</a>
                </li>
            <li>
                <a href="{% url 'meeting:index' %}">Знакомства</a>
                    <ul>
                        <li>{% if has_profile %}
                            <a href="{% url 'meeting:profile_edit' profile_id  %}">Редактировать профиль</a>
                            {% else %}
                            <a href="{% url 'meeting:profile_create' %}">Создать профиль</a>
                            {% endif %}
                        </li>
                        {% if has_profile %}
                        <li>
                            <a href="{% url 'meeting:profile_detail' profile_id %}">
                        Профиль
                        </a>
                        {% endif %}
                    </ul>
            </li>
            <li>
                <a href="{% url 'class:index' %}">Расписание</a>

               </li>
                <li>
            <a href="{% url 'main:contact' %}">Контакты</a>
            </li>
        </ul>
    </nav>
				</header>

			<!-- Banner -->
				<section id="banner">
					<!--<img src={% static "main/images/logo.jfif" %} width="200" height="200" alt="" />-->
					<h2>Башкирская автономия</h2>
					<p>Сайт для Башкирской автономии в городе Сочи</p>
					<ul class="actions special">
						{% if not user.is_authenticated  %}
						<li><a href="{% url 'users:signup' %}" class="button primary">Зарегистрироваться</a></li>
						{% endif %}
						<li><a href="{% url 'news:index' %}" class="button">Последние новости</a></li>
					</ul>
				</section>
			<!-- Main -->
				<section id="main" class="container">

					<section class="box special">
						<header class="major">
							<h2>Добро пожаловать на наш сайт
							<br />
							посвященный деятельности нашей автономии</h2>
							<p>Здесь вы можете узнать последние новости, расписание занятий, секций и кружков, а так же оставить найти новых друзей!</p>
						</header>
						<span class="image featured"><img src={% static "main/images/pic01.jpg" %} alt="" /></span>
					</section>

					<section class="box special features">
						<div class="features-row">
							<section>
								<span class="icon solid major fa-bolt accent2"></span>
								<h3>Последние новости</h3>
								<p>Узнавайте последние новости о нашей деятельности</p>
							</section>
							<section>
								<span class="icon solid major fa-users accent3"></span>
								<h3>Расписание занятий и кружков</h3>
								<p>Узнавайте больше о занятиях, секциях и кружках, организуемых нами. </p>
							</section>
						</div>
						<div class="features-row">
							<section>
								<span class="icon solid major fa-camera-retro accent4"></span>
								<h3>Мероприятия</h3>
								<p>Узнайте о мероприятиях</p>
							</section>
							<section>
								<span class="icon solid major fa-heart accent2"></span>
								<h3>Знакомства</h3>
								<p>Найдите новых друзей.</p>
							</section>
						</div>
					</section>

					<div class="row">
						<div class="col-6 col-12-narrower">

							<section class="box special">
								<span class="image featured"><img src={% static "main/images/pic02.jpg" %} alt="" /></span>
								<h3>Открываем новое в привычном</h3>
								<p></p>
							</section>

						</div>
						<div class="col-6 col-12-narrower">

							<section class="box special">
								<span class="image featured"><img src={% static "main/images/pic03.jpg" %} alt="" /></span>
								<h3>Объединяемся для общения</h3>
								<p></p>
							</section>

						</div>
					</div>

				</section>

			<!-- Footer -->
		{% include 'includes/footer.html' %}

		</div>

		<!-- Scripts -->
			<script src={% static "main/assets/js/jquery.min.js" %}></script>
			<script src={% static "main/assets/js/jquery.dropotron.min.js" %}></script>
			<script src={% static "main/assets/js/jquery.scrollex.min.js" %}></script>
			<script src={% static "main/assets/js/browser.min.js" %}></script>
			<script src={% static "main/assets/js/breakpoints.min.js" %}></script>
			<script src={% static "main/assets/js/util.js" %}></script>
			<script src={% static "main/assets/js/main.js" %}></script>

	</body>
</html>