<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title>Рәхим итегеҙ!</title>
		<meta charset="utf-8" />
		<link rel="icon" href="{% static "fav/fav.ico" %}">
		<link rel="icon" type="image/png" sizes="120x120" href="{% static "fav/icons8-sun-arcade-120.png" %}">
		<link rel="icon" type="image/png" sizes="96x96" href="{% static "fav/icons8-sun-arcade-96.png" %}">
		<link rel="icon" type="image/png" sizes="32x32" href="{% static "fav/icons8-sun-arcade-32.png" %}">
		<link rel="icon" type="image/png" sizes="16x16" href="{% static "fav/icons8-sun-arcade-16.png" %}">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'main/assets/css/main.css' %}">
		<noscript><link rel="stylesheet" href="{% static 'main/assets/css/noscript.css' %}" /></noscript>
	</head>
	<body class="landing is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">
				<!-- Header -->
					{% include 'includes/header.html' %}
				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>Башкиры в Сочи</h2>
							<p>Общественная организация местная национально-культурная автономия башкир города-курорта Сочи</p>
							<p>Всё о башкирах в городе Сочи!</p>
							<ul class="actions special">
								{% if not user.is_authenticated  %}
								<li><a href="{% url 'users:signup' %}" class="button primary">Зарегистрироваться</a></li>
								{% endif %}
							</ul>
						</div>
						<a href="#one" class="more scrolly">Узнать больше!</a>
					</section>
				<!-- One -->
					<section id="one" class="wrapper style1 special">
						<div class="inner">
							<header class="major">
								<h2>Мы приветствуем Вас на нашем сайте</h2>
								<p>Здесь вы можете узнать о дейтельности автономии</p>
							</header>


							<span class="image fit">
                					<img src="{% static 'main/images/footer.png' %}" alt="Башкирская автономия">
							</span>

						</div>
					</section>

				<!-- Two
					<section id="two" class="wrapper alt style2">
						<section class="spotlight">
							<div class="image"><img src={% static "main/images/pic01.jpg" %} alt="" /></div><div class="content">
								<h2>Magna primis lobortis<br />
								sed ullamcorper</h2>
								<p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src={% static "main/images/pic02.jpg" %} alt="" /></div><div class="content">
								<h2>Tortor dolore feugiat<br />
								elementum magna</h2>
								<p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src={% static "main/images/pic03.jpg" %} alt="" /></div><div class="content">
								<h2>Augue eleifend aliquet<br />
								sed condimentum</h2>
								<p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
							</div>
						</section>
					</section>
-->
				<!-- Three -->
					<section id="three" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2>Наша дейтельность</h2>
								<p>Нужно текстовое наполнение-описание.</p>
							</header>
							<ul class="features">
								<li class="icon fa-paper-plane">
									<a href="{% url 'news:index' %}">
									<h3>Последние новости</h3>
									<p>Нужно текстовое наполнение-описание.</p>
									</a>
								</li>
								<li class="icon solid fa-laptop">
									<a href="{% url 'schedule:schedule_list' %}">
									<h3>Расписание кружков, занятий, спортивных секций</h3>
									<p>Нужно текстовое наполнение-описание.</p>
									</a>
								</li>
								<li class="icon solid fa-code">
									<a href="{% url 'etnoshop:etnoshop' %}">
									<h3>Этно - Ярмарка</h3>
									<p>Нужно текстовое наполнение-описание.</p>
									</a>
								</li>
								<li class="icon solid fa-headphones-alt">
									<a href="{% url 'meeting:index' %}">
									<h3>Знакомства</h3>
									<p>Нужно текстовое наполнение-описание.</p>
									</a>
								</li>
								<li class="icon fa-heart">
									<a href="{% url 'main:administration' %}">
									<h3>Администрация</h3>
									<p>Нужно текстовое наполнение-описание.</p>
									</a>
								</li>
								<li class="icon fa-flag">
									<a href="{% url 'main:contact' %}">
									<h3>Контакты</h3>
									<p>Нужно текстовое наполнение-описание.</p>
									</a>
								</li>
							</ul>
						</div>
					</section>

				<!-- CTA -->
					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Оставить ли этот блок</h2>
								<p>Если да, то нужно наполнение.</p>
							</header>
							<ul class="actions stacked">
								<a href="#one" class="more scrolly">Перейти наверх</a>
								<li><a href="#" class="button fit">Learn More</a></li>
							</ul>
						</div>
					</section>

				<!-- Footer -->
					{% include 'includes/footer.html' %}
			</div>

		<!-- Scripts -->
			<script src={% static "main/assets/js/jquery.min.js" %}></script>
			<script src={% static "main/assets/js/jquery.scrollex.min.js" %}></script>
			<script src={% static "main/assets/js/jquery.scrolly.min.js" %}></script>
			<script src={% static "main/assets/js/browser.min.js" %}></script>
			<script src={% static "main/assets/js/breakpoints.min.js" %}></script>
			<script src={% static "main/assets/js/util.js" %}></script>
			<script src={% static "main/assets/js/main.js" %}></script>

	</body>
</html>