{% autoescape off %}

Вы получили это письмо, потому что вы (или кто-то другой) запросили восстановление пароля от учётной записи на сайте {{ site_name }} , которая связана с этим адресом электронной почты.

Пожалуйста, перейдите на эту страницу и введите новый пароль:

<a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Сбросить пароль</a>

Если вы не запрашивали сброс пароля, проигнорируйте это сообщение.

С уважением,
Администрация сайта {{ site_name }}
{% endautoescape %}