{% extends 'base.html' %}
{% block title %}
  Новый пароль
{% endblock %}
{% block content %}
  {% if validlink %}
      <section id="main" class="container">
        <header>
            Введите новый пароль
        </header>

          <section class="box">
          <div class="card-body">
            {% include 'includes/form_errors.html' %}
            <form method="post" {% if action_url %} action="{% url action_url %}" {% endif %}>
              {% csrf_token %}
              {% for field in form %}
                {% include 'includes/form_validate.html' %}
              {% endfor %}
                <div class="col-md-6 offset-md-4">
                  <button type="submit" class="btn btn-primary">
                    Назначить новый пароль
                  </button>
                </div>
            </form>
          </div>
          </section>
      </section>

  {% else %}
    <section id="main" class="container">
      <header>
        <h2>Ошибка</h2>
         <p>Ссылка сброса пароля содержит ошибку или устарела.</p>
      </header>
    </section>>
  {% endif %}
{% endblock %}