{% extends 'base.html' %}
{% block title %}
  Изменение пароля
{% endblock %}
{% block content %}
 <section id="main" class="container">
  <header>
    <h2>Изменить пароль</h2>
  </header>
  <section class="box"
        <div class="card-body">
          {% include 'includes/form_errors.html' %}
          <form method="post" {% if action_url %} action="{% url action_url %}" {% endif %}>
            {% csrf_token %}
            {% for field in form %}
              {% include 'includes/form_validate.html' %}
            {% endfor %}
              <div class="col-12" align="center">
                <button type="submit" class="button alt icon solid fa-check">
                  Изменить пароль
                </button>
              </div>
          </form>
        </div>
 </section>
</section>

{% endblock %}