{% load thumbnail %}
  <section class="box">
  <article>
    <h2>{{ class.title }}</h2>
    <ul>
        <li>Описание: {{ class.description }}</li>
        <li>Дата занятия: {{ class.event_date }}</li>
    </ul>
    <div align="center">
    {% thumbnail class.image "1200x720" quality=100 as im %}
      <span class="image fit"><img src="{{ im.url }}"  alt="" /></span>
    {% endthumbnail %}
    </div>
    <br>
  </article>
    {% if user.is_authenticated  %}
    {% if user.is_staff %}
     <a href="{% url 'class:class_edit' class.pk %}">Редактировать</a>
    {% endif %}
    {% endif %}
</section>