{% extends 'base.html' %}
{% load user_filters %}
{% load thumbnail %}
{% block title %}
   {{ schedule.title|truncatechars:30 }}
{% endblock %}
{% block content %}
<article>
  <h2>{{ schedule.title }}</h2>
  <ul>
    <li>Дата события: {{ schedule.date }}</li>
    <li>Время начала: {{ schedule.start_time }}</li>
    <li>Время окончания: {{ schedule.end_time }}</li>
  </ul>
  <div align="center">
  {% thumbnail schedule.image "1200x720" padding=True as im %}
    <span class="image fit"><img src="{{ im.url }}"  alt="{{ schedule.title }}" /></span>
  {% endthumbnail %}
  </div>
  <p>
    {{ schedule.description }}
  </p>
</article>
{% endblock %}