{% load thumbnail %}
<article>
  <h2>{{ event.title }}</h2>
  <ul>
      <li>Дата занятия: {{ event.event_date }}</li>
      <li>Описание: {{ event.description }}</li>
  </ul>
    {% if  event.images.all %}
    <div class="fade">
        {% for image in event.images.all %}
            <div align="center">
                {% thumbnail image.image "1340x900" format="WEBP" upscale=True as im %}
                    <span class="image fit"><img src="{{ im.url }}" alt="" /></span>
                {% endthumbnail %}
            </div>
        {% endfor %}
    </div>
    {% endif %}
</article>
