<footer id="footer">
    <ul class="icons">
        <li><a href="mailto:taipova86@bk.ru" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
        <li><a href="https://vk.com/bashkir.sochi" class="icon brands fa-vk"><span class="label">VK Сообщество</span></a></li>
        <li><a href="https://wa.me/79638901311" class="icon brands fa-whatsapp"><span class="label">WhatsApp</span></a></li>
        <li><a href="tel:79951898457" class="fa fa-phone"></a></li>
    </ul>
    <ul class="copyright">
        <li>ООМНКА БАШКИР ГОРОДА-КУРОРТА СОЧИ</li>
        <li>Разработка сайта: <a href="https://t.me/SultanovRN">Rustaveli</a></li>
    </ul>
    <ul class="copyright">
        <li>ОГРН 1232300014803</li>
        <li>ИНН 2367030003</li>
        <li>КПП 236701001</li>
     </ul>
</footer>