<header id="header">
    <h1><a href="{% url 'main:main' %}">Башкирская автономия</a></h1>
    <nav id="nav">
        <ul>
            {% if user.is_authenticated  %}
            {% if user.is_staff %}
            <li class="nav-item">
            <a class="nav-link {% if view_name  == 'news:news_create' %} active {% endif %}"
            href="{% url 'news:news_create' %}">Новая новость</a>
            </li>
            {% endif %}

            <li class="nav-item navbar-text">
            Пользователь:
            <a href="{%url 'news:profile' user.username %}"> {{ user.username }}</a>
                <ul>
                    <li class="nav-item">
                    <a class="nav-link {% if view_name  == 'users:logout' %}active{% endif %}"
                    href="{% url 'users:logout' %}">Выйти</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link {% if view_name  == 'users:password_change_form' %} active {% endif %}"
                    href="{% url 'users:password_change_form' %}">Изменить пароль</a>
                    </li>
                </ul>
            </li>

            {% else %}
            <li class="nav-item">
                <a class="nav-link {% if view_name  == 'users:login' %}active{% endif %}"
                href="{% url 'users:login' %}">Войти</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if view_name  == 'users:signup' %}active{% endif %}"
                href="{% url 'users:signup' %}">Регистрация</a>
            </li>
            {% endif %}
            <li>
                <a href="#" class="icon solid fa-angle-down">Меню</a>
            <ul>
                <li><a href="{% url 'main:main' %}">Главная</a></li>
                <li>
                    <a href="{% url 'news:index' %}">Новости</a>
                </li>
            <li>
                <a href="{% url 'meeting:index' %}">Знакомства</a>
                    <ul>
                        <li>{% if has_profile %}
                            <a href="{% url 'meeting:profile_edit' profile_id  %}">Редактировать профиль</a>
                            {% else %}
                            <a href="{% url 'meeting:profile_create' %}">Создать профиль</a>
                            {% endif%}
                        </li>
                        <li>
                            <a href="#">
                        Профиль
                        </a>
                    </ul>
            </li>
            <li>
            <a href="#">Расписание</a>
                <ul>
                    <li><a href="#">Кружки</a></li>
                    <li><a href="#">Секция</a></li>
                </ul>
            </li>
                <li>
            <a href="{% url 'main:contact' %}">Контакты</a>
            </li>
        </ul>
    </nav>
</header>