{% load thumbnail %}
  <section class="box">
  <article>
    <h2>{{ news.title }}</h2>
    <ul>
      <li>Дата публикации: {{ news.pub_date|date:"d E Y" }}</li>
      <li>Автор: <a href="{%url 'news:profile' news.author.username %}">
          {{ news.author.get_full_name }}
        </a>
      </li>
    </ul>
    <div align="center">
    {% thumbnail news.image "1200x720" quality=100 as im %}
      <span class="image fit"><img src="{{ im.url }}"  alt="" /></span>
    {% endthumbnail %}
    </div>
    <p>{{ news.text|linebreaks }}</p>
    <a href="{% url 'news:news_detail' news.pk %}">подробная информация</a>
    <br>
  </article>
</section>
